<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#inscription">Sign in</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="inscription">
              <form method="post" action="/conntrait">

                   <div class="form-group">
                     <label for="email">Email</label>
                     <input type="email" class="form-control" id="email" placeholder="Enter your email">
                   </div>
                   <div class="form-group">
                     <label for="mdp">Password</label>
                     <input type="password" class="form-control" id="mdp" placeholder="Enter votre mot de passe">
                   </div>
                   </br>
                   <div class="row">
                       <div class="col-4">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                       </div>
                       <div class="col-5 display-block">
                        <span>you don't have an account ?</span>
                       </div>
                       <div class="col-3 display-block">
                        <span><a class="nav-link btn btn-primary" href="/register">Sign up</a></span>
                      </div>
                   </div>


             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
