<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#inscription">Inscription</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="inscription">
              <form method="post" action="/register">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" name="nom" placeholder="Entrez votre nom">
                </div>
                <div class="form-group">
                  <label for="nom">Prénom(s)</label>
                  <input type="text" class="form-control" name="prenom" placeholder="Entrez votre prénom">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Entrez votre email">
                </div>
                <div class="form-group">
                  <label for="mdp">Mot de passe</label>
                  <input type="password" class="form-control" name="pass" placeholder="Choisissez un mot de passe">
                </div>
                <div class="form-group">
                  <label for="mdp">Confirmez mot de passe</label>
                  <input type="password" class="form-control" name="cpass" placeholder="Confirmez votre mot de passe">
                </div>
                <br>
                <div class="row">
                   <div class="col-4">
                    <button type="submit" class="btn btn-primary">Je m'inscris</button>
                   </div>
                   <div class="col-5 display-block">
                    <span>Vous avez déjà un compte ?</span>
                   </div>
                   <div class="col-3 display-block">
                    <span><a class="nav-link btn btn-primary" href="/login">Connectez-vous</a></span>
                  </div>
               </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
